## Every day at 6 AM retrieve school lunches
0 6 * * * cd /web/vestaboard-school-lunch && NODE_ENV=prod /home/bertrand/.deno/bin/deno run --allow-env --allow-read=./,.env,config,data --allow-write=data --allow-net=webapis.schoolcafe.com retrieve_lunch_menu.ts >> log/lunch.log 2>&1

## M-F 7:30 AM - Send the school lunch to the Vestaboard
30 7 * * 1,2,3,4,5 cd /web/vestaboard-school-lunch && NODE_ENV=prod /home/bertrand/.deno/bin/deno run --allow-env --allow-read=./,.env,config,data --allow-write=data --allow-net=platform.vestaboard.com push_to_vestaboard.ts >> log/lunch.log 2>&1
